.inputRow{
    padding:0px;
    margin:0px
}

.ver-centr{
    padding-top: 150px;
}

#txt_area{
    padding-top: 125px;
}

.col-md-4{
    height: 50px;
    width: 50px;
}
.back{
    background-color: black;
    color: black;
}